@use "@fjlaubscher/matter/src/styles/breakpoints";
@use "@fjlaubscher/matter/src/styles/colors";

.postGameButton {
  background-color: darken(colors.$light-surface, 15%);
  color: colors.$light-text;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;

  @media (prefers-color-scheme: dark) {
    background-color: lighten(colors.$dark-surface, 15%);
    color: colors.$dark-text;
  }
}

.cards {
  margin-top: 1rem;
}

.tags {
  margin: 1rem 0;
}

.settings {
  button {
    margin-bottom: 1rem;
  }

  @media (min-width: breakpoints.$tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}