.markdown {
  width: 100%;
}
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6,
.markdown p {
  font-size: revert;
  font-weight: revert;
  margin: revert;
}

.markdown a {
  color: var(--chakra-colors-blue-200);
  text-decoration: underline;
}

.markdown code {
  color: var(--chakra-colors-blue-200);
}

.markdown ul,
.markdown ol {
  margin: revert;
  padding: revert;
}
