@use "@fjlaubscher/matter/src/styles/colors";

.buttons {
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;

  button {
    width: 100%;
  }
}

.cancel {
  background-color: colors.$light-surface;
  color: colors.$light-text;
}