@use '@fjlaubscher/matter/src/styles/colors';

.buttons {
  margin-top: 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;

  > button {
    padding: 0.75rem;
  }

  > button:nth-child(1) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  > button:nth-child(2) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
