server {
      server_name crusader.francois.codes;
      root /var/www/crusader/web;
      index index.html;

      location /api {
          proxy_pass http://localhost:5000;
      }

      location / {
          try_files $uri $uri/ /index.html;
          gzip  on;
          expires 1h;
      }

    listen 80;
}