.card {
  text-decoration: none;

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    
    > div:nth-child(2) {
      text-align: right;
    }
  }

  .heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    .title {
      font-weight: 500;
      font-size: 1rem;
    }
  }

  .tags {
    margin-top: 1rem;
  }
}

.formGrid {
  row-gap: 0;
}
