@use "@fjlaubscher/matter/src/styles/breakpoints";
@use "@fjlaubscher/matter/src/styles/colors";

.link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: colors.$light-surface;
  color: colors.$light-text;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.1);
  text-decoration: none;
  transform: translateY(0);
  transition: 0.2s ease-in-out transform;

  &:hover {
    transform: translateY(-0.125rem);
  }

  svg {
    color: colors.$accent;
  }

  @media (prefers-color-scheme: dark) {
    background-color: colors.$dark-surface;
    color: colors.$dark-text;
  }
}