@use "@fjlaubscher/matter/src/styles/breakpoints";

.avatar {
  margin: 1rem 0;
}

.battles {
  .newBattle {
    margin-bottom: 1rem;
  }
}

.join {
  margin-top: 1rem;
}

.tabs {
  margin-top: 1rem;
}

.settings {
  button {
    margin-bottom: 1rem;
  }

  @media (min-width: breakpoints.$tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}