@use '@fjlaubscher/matter/src/styles/breakpoints';
@use '@fjlaubscher/matter/src/styles/colors';

.card {
  text-decoration: none;
}

.avatar {
  margin-bottom: 1rem;
}

.noMargin {
  row-gap: 0;
  margin-bottom: 0;
}

.grid {
  grid-template-columns: 1fr 1fr;
  row-gap: 0;
  margin-bottom: 0;

  @media (min-width: breakpoints.$desktop) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.question {
  margin-bottom: 1rem;

  input,
  textarea {
    background-color: colors.$light-background;
    color: colors.$light-text;

    @media (prefers-color-scheme: dark) {
      background-color: colors.$dark-background;
      color: colors.$dark-text;
    }
  }
}

.listCard {
  .heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    .title {
      font-weight: 500;
      font-size: 1rem;
    }
  }

  .info {
    h4 {
      color: colors.$accent;
    }

    border-bottom: 1px solid colors.$light-background;
    margin-bottom: 1rem;

    @media (prefers-color-scheme: dark) {
      border-bottom-color: colors.$dark-background;
    }
  }
}
